*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-weight: bolder;
}

body{
    height: 100vh;
    /* Usando css grid */
    display: grid;

    /* definindo template */
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    /* Define o tamanho das linhas */
    grid-template-rows: 64px 1fr 40px;
    /* Define o tamanho das colunas*/ 
    grid-template-columns: 20vw 1fr;
}

header {
    background-color: green;
    /*Informando o header o seu posicionamento*/
    grid-area: header;
    /* usando flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

main{
    background-color:red;
    /*Informando a main o seu posicionamento*/
    grid-area: main;
}

aside{
    background-color:blue;
    /*Informando a aside o seu posicionamento*/
    grid-area: aside;
}

footer {
    background-color: grey;
    /*Informando o footer o seu posicionamento*/
    grid-area: footer;
}
